  #container {
    width: 70%;
    margin: auto;
    text-align: center;
    visibility: hidden;
  }

  p {

    color: #4ECCA3;
    font-family: 'sacramento', cursive;
  }

  .dice {
    text-align: center;
    display: inline-block;

  }

  #Ready {
    margin-top: 30px;

  }

  #start {
    text-align: center;
    margin: auto;
    padding: 7% 15%;


  }

  body {
    background-color: #393E46;
  }

  h1 {
    margin: 30px;
    font-family: 'sacramento', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }


  img {
    width: 80%;
  }

  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;

  }